[Desktop Entry]

Name=archupdate
Comment=Arch update counter
Icon=preferences-desktop
Type=Service

X-Plasma-API=declarativeappletscript
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-MainScript=ui/archupdate.qml
X-Plasma-Provides=org.kde.plasma.virtualdesktops

X-KDE-PluginInfo-Author=Bouteiller <a2n> Alan
X-KDE-PluginInfo-Email=a2n.dev@pm.me
X-KDE-PluginInfo-Name=a2n.archupdate.plasmoid
X-KDE-PluginInfo-Website=https://github.com/bouteillerAlan/archupdate

X-KDE-PluginInfo-Version=3
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-License=GPL-3.0+
